<p>
  <strong>
    <h3 class="text-center">
      ¿QUÉ ES D4G: PASA DE LA PROTESTA A LA PROPUESTA?
    </h3>
    <h5 class="text-center">
      Somos una comunidad sin fines de lucro que transforma ideas en acciones.
    </h5>
  </strong>
</p>

<div>
  <p class="text-center">
    Un evento organizado por la comunidad de Developers for Good en donde co-creamos prototipos digitales que buscan encarar problemáticas sociales.
    En un contexto distendido y auto organizado donde reunimos a personas con mucha experiencia y también algunos que dan sus primeros pasos en el mundo digital, y podés colaborar a que jóvenes de entre 13 y 24 años aprendan y transformen sus ideas en productos para encarar problemáticas de sus barrios y comunidades. .

    El mismo día del evento se conformarán los grupos de acuerdo a la afinidad con el proyecto y conocimientos técnicos. Formaremos equipos de trabajos multidisciplinarios formados por Developers., Testers, UX/UI, Product Owner y Scrum Masters; y durante 12 horas trabajaremos para lograr crear un producto mínimo viable digital.

    Para saber más hacé <a href="<%= aoc_site %>">clic aquí</a>
  </p>

  <br>

  <p>
    <strong>
      <h3 class="text-center">DÍAS Y HORARIOS DEL EVENTO</h3>
      <ul class="text-center">
        <li style="list-style-type: none">
          Sábado 7 Septiembre de 10.00 a 18.00 hs
        </li>
        <li style="list-style-type: none">
          Domingo 8 de Septiembre de 10.00 a 15.00 hs
        </li>
      </ul>
    </strong>
  </p>

  <br>

  <p class="text-center">
    <h3 class="text-center">
      <strong>¿QUERÉS PARTICIPAR? ¡BUENÍSIMO!</strong>
    </h3>

    <br>
    Nos gustaría que todos los que se inscriban tengan un lugar, pero lamentablemente tenemos vacantes limitadas. ¡Y no nos parece justos ser los únicos que elijan quiénes participarán! Por eso, decidimos usar un método de selección que sea horizontal y transparente. Este método se llama San Saru, y fue creado y compartido con nosotros (y el mundo, ya que es open source) por el Agile Open Camp (AOC).
    Más abajo te contamos mejor de qué se trata, pero la versión corta es: vos te postulás ahora haciendo click en <strong>inscribirte ahora</strong>, y pronto comenzaremos con la selección. Si sos elegido, te avisaremos y si todavía quedan vacantes por cubrir, podrás elegir a otros participantes.
  </p>

  <div class="card border-warning">
    <div class="card-body text-warning">
      <p class="card-text text-center"><strong>Importante: </strong>D4G es un evento sin fines de lucro y es gratis para todxs lxs asistentes.
        <br>La selección es un compromiso de asistencia al evento. Si fuiste seleccionado y no podés asistir, ¡avisanos con tiempo!.</p>
    </div>
  </div>
  <br><br>

  <p>
    <button class="btn btn-primary btn-lg btn-block collapsed" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">¿Por qué se llama san saru?</button>
  </p>

  <div class="collapse" id="collapseExample" style="">
    <div class="card card-body">
      <h3>¿Por qué se llama san saru?</h3>
      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-body">

              <div style="text-align:center; ">
                <img style="width: 40%" alt="" class="ut-animate-image animated fadeIn" data-effecttype="image" data-effect="fadeIn" src="http://www.onmarkproductions.com/assets/images/lr-monkeys-hase-1646-edo-TN.JPG">
              </div>
              <p>San saru es un término japonés que se podría traducir como “Los tres monos sabios” y representado por la imagen anterior. El concepto tiene varias interpretaciones. La que nos gusta y la que
                nos llevó a elegir este nombre para el método es la siguiente: Cuenta la leyenda que fueron enviados
                por los dioses para delatar y castigar las malas acciones de los humanos. Pero estos monos tenían
                algunas limitaciones.
              </p>

              <p>
              </p><ul>
              <li>
                Kikazaru, el mono sordo, era el encargado de utilizar el sentido de la vista para observar a quienes realizaban malas acciones
                y comunicárselo a Mizaru, mediante la voz.
              </li>
              <li>Mizaru, era el mono ciego. No necesitaba su sentido de la vista, puesto que tan sólo se encargaba
                de transmitir al tercer mono, Iwazaru, los mensajes que le pasaba Kikazaru.
              </li>
              <li>
                Iwazaru, el tercero de los tres monos, era el mono mudo. Iwazaru escuchaba los mensajes transmitidos por Mizaru para decidir
                la pena de los dioses que le caería al desafortunado humano que lo mereciese y observar
                que se cumpliese.
              </li>
            </ul>
              <p></p>

              <p>Colocados los tres monos en función de sus habilidades y de sus discapacidades, obtenemos un mono
                que ve, escucha y habla. Los monos juntos y bien organizados pueden alcanzar metas que, sin duda
                alguna, no lograrían por separado. Existen varias posibilidades de colocar a los tres monos.
                Todas ellas, excepto una, son situaciones de comunicación fallida, de asistencia colaborativa
                imposible. La que funciona es: primero el mono sordo, que ve y le explica al segundo lo que ve;
                el segundo, que no necesita ver, pues solo necesita escuchar lo que le dice el primero y transmitírselo
                al tercero, que no necesita hablar, sino solo escuchar, ver, decidir lo que mejor convenga y
                velar por su cumplimiento.
              </p>

              <div class="card border-info">

                <div class="card-body text-info text-center">

                  ESTA INTERPRETACIÓN NOS EVOCA A ACEPTAR DISCAPACIDADES PROPIAS Y AJENAS, COLABORAR, FORMAR EQUIPOS MULTIFUNCIONALES PARA
                  LOGRAR EL ÉXITO. ¿LES SUENA FAMILIAR?
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><br>
  </div>

  <br>
  <h3 class="text-center">
    <strong>¿CÓMO FUNCIONA?</strong>
  </h3>
  <hr class="dark">
  <div class="row">
    <div class="col-sm-12">
      <p>El proceso consta de tres etapas:</p>
      <ul>
        <li style="padding-bottom: 20px">
          <strong>Postulación: </strong>
          Lxs interesadxs en participar nos cuentan quiénes son, a qué se dedican, por qué quieren participar, qué pueden aportar al evento y qué esperan llevarse completando un formulario.</li>
        <li style="padding-bottom: 20px">
          <strong>Selección: </strong>
          <%= aoc_monkeys %> (miembros de la comunidad Devs4Good) seleccionarán, cada unx, a dos postulantes para participar del evento. Cada persona seleccionada deberá elegir otras dos postulantes, y así sucesivamente. La personas seleccionadas serán informadas oportunamente y se les indicará cómo continuar.</li>
        <li style="padding-bottom: 20px">
          <strong>Inscripción: </strong>
          Una vez que sos seleccionado, te enviaremos los pasos a seguir y te pediremos que completes un formulario con información para tener en cuenta en el evento.
        </li>
      </ul>
    </div>
  </div>
  <br>

  <div style="text-align: center;">
    <%= button_to "Inscríbete ahora", new_user_registration_path, :class => 'btn btn-warning btn-lg btn-block', :method => :get %>
  </div>
</div>