<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>¡Hola, <%= @invited.name %>!</p>

<p>¡Felicitaciones! Fuiste seleccionado por <%= @host.name %> para participar de la cuarta edición de Developers For Good!</p>

<p>
  A partir de ahora podes seleccionar a otras 2 personas &#128513;&#128521; <a href="https://sansarud4g.herokuapp.com/profiles">IR A SELECCIONAR AHORA</a>
</p>
<p>
  (Acá un video tutorial de ejemplo: <a href="https://www.youtube.com/watch?v=m6PK5Uq7cIs">https://www.youtube.com/watch?v=m6PK5Uq7cIs</a>)
</p>
<p>
  También te invitamos a sumarte al grupo de Telegram: &#128073; <a href="http://bit.ly/devs4good_participantes">acá</a> &#128540; (Si todavía no tenés telegram, es un buen momento para hacerlo)
</p>
<p>
  En los próximos días estaremos compartiendo información detallada sobre los proyectos que participarán en el grupo de telegram, pero te invitamos a seguirnos en nuestras redes sociales para estar al tanto de todas las novedades. Más info:
  <a href="http://bit.ly/devs4good_ideas2019">http://bit.ly/devs4good_ideas2019</a>
</p>
<p>
  Para prepararte para el evento, te adelantamos algunas cosas que tendrás que llevar:

  <ul>
    <li>Tu DNI para poder ingresar</li>
    <li>Laptop y cargador</li>
    <li>Cuaderno y algo para anotar</li>
    <li>¡Mucha energía!</li>
  </ul>
</p>
<p>
  Pronto te enviaremos el cronograma del evento, recursos claves y más información que te será muy útil el sábado 7 y domingo 8 de septiembre.
</p>
<p>
  Estamos a tu disposición y por cualquier consulta nos puedes escribir <%= mail_to "hack2019@devs4good.com" %> o mucho mejor en el grupo de telegram. En caso de no poder asistir, por favor <strong>contactate lo antes posible.</strong>
</p>
<p>
  ¡Gracias por sumarte a este desafío!
</p>

<strong>El equipo de Developers for Good :)</strong>
<br><br>
Web: <a href="www.developersforgood.com">www.developersforgood.com</a><br>
Instagram: <a href="https://www.instagram.com/devs4good/">@devs4good</a><br>
Twitter: <a href="https://twitter.com/devs4good">@devs4good</a><br>
FB: <a href="https://www.facebook.com/devs4good/">@devs4good</a><br>
</body>
</html>