<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>¡Hola, <%= @invited.name %>!</p>

<p>¡Felicitaciones! <%= @host.name %> te ha seleccionado para participar de Developers For Good 2019.</p>

<p>
  En los próximos días te estaremos enviando información detallada sobre los proyectos que participarán, pero te invitamos a seguirnos en nuestras redes sociales para estar al tanto de todas las novedades.
</p>
<p>
  Para prepararte para el evento, te adelantamos algunas cosas que tendrás que llevar:

  <ul>
    <li>Tu DNI para poder ingresar</li>
    <li>Laptop y cargador</li>
    <li>Cuaderno y algo para anotar</li>
    <li>¡Mucha energía!</li>
  </ul>
</p>
<p>
  Pronto te enviaremos el cronograma del evento, recursos claves y más información que te será muy útil el sábado 7 y domingo 8 de septiembre en <strong>Baufest (Av libertador 6343 Piso 6°, Capital Federal)</strong>.
</p>
<p>
  Estamos a tu disposición y por cualquier consulta nos puedes escribir <%= mail_to "hack2019@devs4good.com" %> En caso de no poder asistir, por favor <strong>contactate lo antes posible.</strong>
</p>
<p>
  ¡Gracias por sumarte a este desafío!
</p>

<strong>El equipo de Developers for Good :)</strong>
<br>
<a href="www.developersforgood.com">www.developersforgood.com</a>

</body>
</html>